body{
  background-image: url('../img/pink_clouds.jpg'), linear-gradient(#eb01a5, pink);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: white;
  padding: 3rem;
  margin: 2rem;
  border-radius: 3rem;
}
cite {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
}
.button{
  display: flex;
  justify-content: flex-end;
}

h2{
  margin-bottom: 6rem;
}
.weather {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-family: 'Quicksand', sans-serif;
}